# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

# Settings for all other known text fields
[*.{js,py,java,txt,xml,sh,log,css,sass,babelrc,scss,properties,jsx,vm,ftl,html,json}]
charset = utf-8
indent_style = space
indent_size = 2
