*.sh                    licensefile=.githooks/license-maintainer/LICENSE-hash
*.py                    licensefile=.githooks/license-maintainer/LICENSE-hash
*.yml                   licensefile=.githooks/license-maintainer/LICENSE-hash
*.yaml                  licensefile=.githooks/license-maintainer/LICENSE-hash
/.githooks/install      licensefile=.githooks/license-maintainer/LICENSE-hash
/.githooks/pre-commit   licensefile=.githooks/license-maintainer/LICENSE-hash
/opt/nitor/inventory/*  -licensefile
/opt/nitor/library/*    -licensefile
